@media (max-width: 580px) {
  html {
    font-size: 10px;
  }
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #services .services-graphs {
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: center;
    justify-content: center;
    div {
      flex: none;
      padding: 1rem;
    }
  }
  #quote .quote-img {
    display: none;
  }
  #quote .quote-text {
    text-align: left;
    width: 100%;
  }

  .s-container {
    max-width: 90%;
    padding: 1rem;
  }

  #portfolio {
    ul {
      flex-wrap: wrap;
    }
  }

  #portfolio .portfolio-images {
    grid-template-columns: repeat(2, 1fr);
    column-width: 100px;
  }

  .footer-start {
    padding: 2rem 1rem;
  }

  #team .team-info {
    display: flex;
    flex-direction: column;
  }

  #price .cards-price {
    flex-direction: column;

    .card-price {
      margin-top: 2rem;
    }
  }
  #team .team-img {
    padding-left: 2rem;
  }

  #form-submit {
    .text-fields {
      grid-template-areas:
        "name"
        "email"
        "subject"
        "message";
    }
  }
}
